~$*
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
__pycache__/
*.py[cod]
.idea/
**/venv/
**/.venv/
