body{
  background-color: rgb(221, 221, 221);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  /* min-height: 100vh; */
  /* position: relative; */
}

body{
  width: 100%;
}

@media screen and (min-width:1200px){
  body{
    width: 80%;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "header nav-bar"
    "feed content"
    "pagination pagination"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  /* gap: 3px; */
  background-color: rgb(255, 255, 255);
  /* padding: 5px; */
}
.container div {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.container a{
  text-decoration: none;
  color: inherit;
}
.container div.header {
  grid-area: header;
  background-color: rgb(84, 83, 163);
  color: white;
  font-size: xx-large;
}
.header h2{
  margin: 0;
  transition: color 0.3s ease;
  font-family: 'Trebuchet MS';
}
.header h2:hover{
  color: rgb(139, 226, 197);
}
.container div.nav-bar{
  grid-area: nav-bar;
  background-color: rgb(84, 83, 163);
  align-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.container ul{
  padding-left: 0;
  margin: auto;
}
.container li{
  display: inline;
  padding: 16px;
  font-size: larger;
  transition: color 0.3s ease;
}
.container li:hover{
 color: rgb(139, 226, 197);
}
.container div.feed {
  grid-area: feed;
  /* background-color: rgb(83, 83, 83); */
  padding: .5px;
  box-shadow: -5px 0px 10px rgb(185, 185, 185);
}
.container .card{
  transition: color 0.3s ease;
}
.container .card:hover{
  color:rgb(83, 89, 177);
}
hr{
  color:rgb(236, 236, 236);
}
.container div.image-with-text{
  display: grid;
  grid-template-areas: 
  "img text";
  grid-template-columns: 1fr 2fr;
}
.container div.image-with-text:hover{
  h2{

    color:rgb(83, 89, 177);
  }
}
div.text{
  padding-top: 0;
}
.container div.image-with-text h2{
  margin-top: 0;
  transition: color 0.3s ease;
}
.container div.image-with-text h3{
  font-weight: normal;
  transition: none;
}
.container div.image-with-text small{
  font-size: large;
}
.container div.card p{
  margin-top: 0;
}
.container img{
  /* width: 240px;
  height: 135px; */
  max-width: 100%;
  height: auto;
  display: block;
}
.big-img img{
  /* width: auto; */
  height: 50vh;
  display: block;
}
.container small
{
  color:gray;
}
.container div.content {
  grid-area: content;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 10px rgb(185, 185, 185);
  p{
    font-weight: normal;
    font-size: large;
  }
}
.container div.pagination{
  grid-area: pagination;
  text-align: center;
  padding: 20px;
  /* margin: 15px; */
  box-shadow:
    5px 0px 5px rgb(185, 185, 185),
    -5px 0px 5px rgb(185, 185, 185);
}
.container div.pagination li{
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 100px;
  margin: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.container div.pagination li:hover{
  background-color: rgb(83, 89, 177);
  color: white;
}
.container div.footer {
  grid-area: footer;
  text-align: center;
  align-content: center; 
  height: 25px; 
  background-color:rgb(45, 45, 93);
  color:rgb(212, 212, 212);
  /* position: sticky; */
  box-shadow:
    5px 0px 10px rgb(185, 185, 185),
    -5px 0px 10px rgb(185, 185, 185);
}
/* .container div.content, div.pagination, div.footer{
  box-shadow: 5px 0px 10px rgb(185, 185, 185);
  box-shadow: -5px 0px 10px rgb(185, 185, 185);
} */